<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <CardViewPanel
    id="ABContactSummaryCV">
    <Require
      name="anABContact"
      type="ABContact"/>
    <Card
      id="Basics"
      title="DisplayKey.get(&quot;Training.BasicInfo&quot;)">
      <PanelRef
        def="ABContactSummaryDV(anABContact)"></PanelRef>
    </Card>
    <Card
      id="AnalysisCard"
      title="&quot;Cubrible Auto&quot;">
      <PanelRef>
        <Toolbar>
          <IteratorButtons
            iterator="addAutoIterator"
            removeVisible="true"/>
        </Toolbar>
        <ListViewPanel>
          <RowIterator
            editable="true"
            elementName="name"
            id="addAutoIterator"
            toAdd="anABContact.addCarToCoberables(name)"
            toRemove="anABContact.removeFromCoverables(name)"
            value="anABContact.getCoverables().where(\elt -&gt; elt.CoverableType == TC_AUTO)"
            valueType="entity.Coverable_Ext[]">
            <Row>
              <TextCell
                id="PublicId"
                label="DisplayKey.get(&quot;Training.id&quot;)"
                value="name.PublicID"/>
              <TextCell
                editable="true"
                flatten="true"
                formatType="currency"
                id="Costo"
                label="&quot;Costo&quot;"
                maxChars="11"
                value="name.CostoReposicion"
                valueType="java.math.BigDecimal"/>
              <TextCell
                editable="true"
                id="autoCostoReparacion"
                label="&quot;Marca&quot;"
                value="name.Brand"/>
              <TextCell
                editable="true"
                id="autoModelo"
                label="&quot;Modelo&quot;"
                value="name.Model"/>
              <TextCell
                editable="true"
                id="autoYear"
                label="&quot;A&#241;o&quot;"
                value="name.Year"
                valueType="java.lang.Integer"/>
              <TextCell
                editable="true"
                id="autoPatente"
                label="&quot;Patente&quot;"
                value="name.Patente"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Card>
    <Card
      id="DwellingCard"
      title="&quot;Cubrible Home&quot;">
      <PanelRef>
        <Toolbar>
          <IteratorButtons
            iterator="AddHomeLV"/>
        </Toolbar>
        <ListViewPanel>
          <RowIterator
            editable="true"
            elementName="name"
            id="AddHomeLV"
            toAdd="anABContact.addDwellingToCoberables(name)"
            toRemove="anABContact.removeFromCoverables(name)"
            value="anABContact.getCoverables().where(\elt -&gt; elt.CoverableType == CoverableType.TC_DWELLING)"
            valueType="entity.Coverable_Ext[]">
            <Row>
              <TextCell
                id="PublicId"
                label="DisplayKey.get(&quot;Training.id&quot;)"
                value="name.PublicID"/>
              <TextCell
                editable="true"
                id="Costo"
                label="&quot;Costo&quot;"
                maxChars="11"
                value="name.CostoReposicion"
                valueType="java.math.BigDecimal"/>
              <TypeKeyCell
                editable="true"
                id="homOcc"
                label="&quot;Tipo de Home&quot;"
                value="name.OccupationType"
                valueType="typekey.Ocupacion_Ext"/>
              <TypeKeyCell
                editable="true"
                id="homCei"
                label="&quot;Tipo de Techo&quot;"
                value="name.CeilingType"
                valueType="typekey.Ceiling_Type"/>
              <TypeKeyCell
                editable="true"
                id="homHeat"
                label="&quot;Tipo de Calefacci&#243;n&quot;"
                value="name.HeatingType"
                valueType="typekey.HeatingType_Ext"/>
              <TypeKeyCell
                editable="true"
                id="homMat"
                label="&quot;Material de Construcci&#243;n&quot;"
                value="name.ConstructionMat"
                valueType="typekey.ConstructionMat"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </Card>
  </CardViewPanel>
</PCF>