<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <Page
    canEdit="true"
    id="ABContactAnalysisPage"
    title="DisplayKey.get(&quot;Training.Analysis&quot;)">
    <LocationEntryPoint
      signature="ABContactAnalysisPage(anABContact:ABContact)"/>
    <Variable
      name="anABContact"
      type="ABContact"/>
    <Screen>
      <Toolbar>
        <EditButtons
          id="toolbarUpdate"/>
        <ToolbarButton
          action="anABContact.upgradeToStrategicPartner()"
          available="CurrentLocation.isInEditMode() == true &amp;&amp; anABContact.isIsStrategicPartner_Ext() == false"
          id="UpgradeButtonId"
          label="&quot;Upgrade To Stratregic Partner&quot;"
          visible="!anABContact.isIsStrategicPartner_Ext()"/>
      </Toolbar>
      <PanelRef
        def="ABContactAnalysisDV(anABContact)"
        id="aContactAnalysis"/>
      <DetailViewPanel>
        <InputColumn></InputColumn>
        <InputColumn></InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>